@use 'sass:math';

.about-page {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}


.about-card-content {
  padding: 20px;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  line-height: 1.173;
}


.stacking-pair {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;

  .image {
    @include glass;
    @include card;
  }

  .text {
    > h2 {
      margin-top: 0;
    }
  }

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

.stacking-cards {
  &.more-below { margin-bottom: 20px; }
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  @media (min-width: $page-width) {
    flex-direction: row;
    align-items: stretch;
    > .glass {
      align-self: stretch;
      height: unset;
    }
  }
}

.value-i-bring {
  font-weight: 500;
  padding: 1em;
  line-height: 1.17;
}
