.fixed-background {
  width: 100dvw;
  height: 150dvh;
  position: fixed;
  z-index: -1;
  transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;
}

.background-blob {
  position: absolute;
  overflow: hidden;
}

.top-right-blob {
  height: 50vw;
  width: 50vw;
  right: -10vw;
  top: -10vw;
}

.bottom-left-blob {
  height: 35vw;
  width: 35vw;
  left: 0;
  bottom: 0;
}

.old-blob {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: opacity 0.5s ease-in-out;
}

.next-blob {
  @extend .old-blob;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}
