.fixed-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  transition: opacity 0.5s linear, background 0.5s linear;
}

.background-sphere {
  position: absolute;
  overflow: hidden;
}

.background-glass {
  backdrop-filter: blur(12dvmin);
  -webkit-backdrop-filter: blur(12dvmin);
  position: absolute;
  width: 100%;
  height: 100%;
}

.top-right-sphere {
  height: 50vw;
  width: 50vw;
  right: -10vw;
  top: -10vw;
}

.bottom-left-sphere {
  height: 35vw;
  width: 35vw;
  left: 0;
  bottom: 0;
}

.old-sphere {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: opacity 0.5s linear;
}

.next-sphere {
  @extend .old-sphere;
  z-index: -1;
  transition: opacity 0.5s linear;
}

.sphere-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

@mixin sphere-lighting {
  width: 100%;
  height: 100%;
  position: absolute;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.sphere-left-half {
  @include sphere-lighting;
  left: -50%;
  animation-name: rotate-left-half;
  animation-timing-function: linear;
}

.sphere-right-half {
  @include sphere-lighting;
  right: -50%;
  animation-name: rotate-right-half, duck-behind;
  animation-timing-function: linear, steps(1);
}

@keyframes rotate-left-half {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
}

@keyframes rotate-right-half {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
}

@keyframes duck-behind {
  0% {
    z-index: 0;
  }
  50% {
    z-index: -1;
  }
}
