.card-container {
  min-width: 95%;
  margin: 0 2.5vw;
  padding: 0 7%;
  borderRadius: 2vh;
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    max-height: 100%;
  }
}

.more-work {
  display: flex;
  justify-content: center;
  padding: 5% 10%;
  gap: 2em;
}

.more-case-studies {
  display: flex;
  flex-direction: column;
  flex-basis: 67%;
  gap: 10px;
}

.footer-intro-and-contact-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  width: max-content;
}

.footer-contact-button-container {
  display: flex;
  justify-content: center;
}

.footer-contact-button {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 10px 16px;
  font-weight: 600;
  font-size: 12px;
  color: #778390;
  border-radius: 18px;
  &:hover {
    text-decoration: none;
  }
}

.footer-about-me {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  gap: 5px;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .more-work {
    flex-direction: column;
  }
  .footer-about-me {
    flex-basis: 100%;
    justify-content: center;
  }
  .footer-intro-and-contact-button {
    width: 100%;
  }
  .more-case-studies {
    flex-basis: 100%;
  }
  .recent-case-study {
    flex: 3 0 calc(100% - 15px);
  }
}

@media (max-width: 768px) {
  .case-study-inner-paragraphs {
    flex-direction: column;
  }
  .recent-case-study {
    flex: 3 0 calc(100% - 15px);
  }
}
