.centerline-circle {
  border-width: 0.1em;
  border-color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 50%;
  margin-top: -0.75em;
  position: absolute;
}

.centerline-crossbar {
  height: 50%;
  width: 60%;
  z-index: -1;
  border-bottom: 5px solid;
  &.connect-top {
    border-left: 5px solid;
  }
}

.centerline-line {
  height: 22.5em;
  &.long {
    height: 50em;
  }
  border-left: 5px solid;
  position: absolute;
}

.centerline-heart {
  margin: -0.5em auto;
  display: flex;
  justify-content: center;
  color: theme-color('success');
  font-size: 5em;
  -webkit-text-stroke: theme-color('warning') thin;
  position: relative;
  z-index: 1;
}

.vertical-centerline {
  display: flex;
  height: 5em;
  align-items: center;
  justify-content: center;
  .centerline-line {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(theme-color('success'), theme-color('success')) no-repeat center/5px 100%;
  }
}
