.centerline-circle {
  border-width: 0.1em;
  border-color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: relative;
}

.centerline-crossbar {
  background: linear-gradient(map-get($theme-colors, 'success'), map-get($theme-colors, 'success')) no-repeat center/100% 5px;
  height: 20px;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-left: 45%;
  &.offset-left {
    margin-left: -55%;
    border-radius: 0 25% 25% 0;
  }
}

.centerline-line {
  height: 100%;
  background: linear-gradient(map-get($theme-colors, 'success'), map-get($theme-colors, 'success')) no-repeat center/5px 100%;
}
