$theme-colors: (
  danger: #ffffff,
  dark: #000000,
  info: #440BD4,
  primary: #e92efb,
  success: #39ff14,
  warning: #ff2079
);

@import '~bootstrap/scss/bootstrap';

@import './adalida_page/apps_page';
@import './adalida_page/projects_page';
@import './wide_timeline';
@import './centerline';
@import './header';
@import './circle';
@import './memphis_pattern';
@import './scalable_text';
@import './timeline_post';
@import './timeline_description';
@import '@fortawesome/fontawesome-svg-core/styles';

@import url('https://fonts.googleapis.com/css2?family=Inconsolata');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next'), url(../fonts/AvenirNextLTPro-Regular.otf);
}


@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(../fonts/Futura.ttf);
}


@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}


@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), url(../fonts/EBGaramond-VariableFont_wght.ttf);
}

body {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-top: 2px solid black;
  opacity: 1;
}
