$theme-colors: (
  danger: #04005E,
  info: #440BD4,
  primary: #e92efb,
  success: #39ff14,
  warning: #ff2079
);

@import '~bootstrap/scss/bootstrap';
@import './centerline';
@import './header';
@import './footer';
@import './timeline_post';
@import './timeline_description';
@import '@fortawesome/fontawesome-svg-core/styles';
