$theme-colors: (
  danger: #ffffff,
  dark: #000000,
  info: #440BD4,
  primary: #e92efb,
  success: #39ff14,
  warning: #ff2079
);

@import '~bootstrap/scss/bootstrap';
@import './adalida_page';
@import './adalida_page/apps_page';
@import './adalida_page/projects_page';
@import './adalida_page/blowout';
@import './adalida_page/header';
@import './wide_timeline';
@import './centerline';
@import './header';
@import './footer';
@import './circle';
@import './memphis_pattern';
@import './timeline_post';
@import './timeline_description';
@import '@fortawesome/fontawesome-svg-core/styles';

body {
  font-family: "Inconsolata";
}
