.footer {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background: $dark-background;
  color: $light-text;
}

.footer-row {
  display: flex;
  gap: 2em;
}

.build-time {
  color: $dark-text;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footer-link {
  display: flex;
  gap: 0.25em;
  font-size: 0.75rem;
}

@media (max-width: 1250px) {
  .footer {
    flex-direction: column;
  }
}
