footer {
  color: theme-color('warning');
}

.row.footer-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin: 0;
}

.footer-icon {
  margin: 0 0.2em;
  color: theme-color('success');
}
