@import url('https://fonts.cdnfonts.com/css/avenir-lt-std');

.header-navbar {
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
  min-height: 5em;
}

.nav-link {
  color: #000000;
  &:hover {
    color: #0000FF;
  }
  &.active {
    color: theme-color('warning');
    text-decoration: underline;
    text-decoration-color: #000000;
  }
}
