@import './variables';
@import './fonts';
@import './typography';
@import './custom';

@import './about';
@import './background';
@import './case_study';
@import './footer';
@import './header';
@import './services';
@import './portfolio_page';
@import './themed_link';

.Typewriter {
  display: inline;
}

.brand-icon {
  @extend .glass;
  &:hover {
    filter: invert(1) opacity(0.5);
  }
}

.page {
  transition: all 0.5s ease-in-out;
  padding: 0 7.5dvw;
  gap: 1em;
  display: flex;
  flex-direction: column;
  width: min(calc(950px + 15dvw), 100dvw);
  margin: auto;
}

.thin-glass {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.glass {
  @extend .thin-glass;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(159deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.10) 100.06%);
  box-shadow: 0px 4px 24px -1px rgba(99, 99, 99, 0.25);
}

.badge {
  @extend .glass;
  font-weight: 500;
  transition: background-color 0.5s ease-in-out;
  border-color: rgba(255, 255, 255, 0.20);
  box-shadow: 4px 4px 4px -1px rgba(99, 99, 99, 0.25);
  padding: 0.8em;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
}

.lets-work-together {
  display: flex;
  font-size: 0.75em;
  gap: 0.5rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 15rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  .arrow {
    font-size: 1.25em;
    font-weight: 100;
  }
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  h2 { margin: 0; }
}

.rotated-arrow {
  font-size: 1.414em;
  line-height: 1;
  transform: rotate(-45deg);
  font-weight: 400;
}

.rotated-arrow::before {
  content: '➜';
}

.logo {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  padding: 8px;
  height: 40px;
  width: 40px;
}

.section-heading-container {
  margin-top: 1em;
  font-weight: 700;
  display: flex;
  gap: 0.75em;
  align-items: center;
  width: 100%;
  @media (min-width: $breakpoint) {
    gap: 1em;
  }
}

.section-heading-line {
  min-width: 100px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  height: 0;
  @media (min-width: $breakpoint) { border-width: 3px; }
}

.pull-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
