@import './variables';
@import './utilities';
@import './mixins';
@import './colors';
@import './fonts';
@import './typography';
@import './custom';

@import './about';
@import './background';
@import './case_studies';
@import './footer';
@import './header';
@import './portfolio_page';
@import './scroll_animated_text';

.Typewriter {
  display: inline;
}

.brand-icon {
  @include glass;
  &:hover {
    filter: invert(1) opacity(0.5);
  }
}

.page {
  transition: all 0.5s ease-in-out;
  gap: 1em;
  display: flex;
  flex-direction: column;
  width: $page-width;
  margin: auto;
  padding-top: 2rem;
  @media (min-width: $breakpoint) {
    padding-top: 4rem;
  }
}

.lets-chat {
  display: flex;
  font-size: 0.75em;
  gap: 0.5rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 15rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  .arrow {
    font-weight: 400;
    font-size: 1.25em;
  }
}

.arrow {
  &::before {
    content: '→';
  }
  &.rotated::before {
    font-size: 1.1em;
    content: '↗';
  }
}


.home-page-logo {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  padding: 8px;
  height: 40px;
  width: 40px;
}

.section-heading-container {
  margin: 10dvw 0 1rem;
  font-weight: 700;
  display: flex;
  gap: 0.75em;
  align-items: center;
  width: 100%;
  @media (min-width: $breakpoint) {
    gap: 1em;
  }
}

.section-heading-line {
  width: 100px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  height: 0;
  @media (min-width: $breakpoint) { border-width: 2px; }
}

.no-margins {
  margin: 0;
}
