.services-card-content {
  padding: 20px;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  line-height: 1.173;
}

.shaping-companies {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  @media (min-width: $page-width / 0.85) {
    flex-direction: row;
    align-items: stretch;
    > .glass {
      // Two 20px gaps make 40px
      width: ($page-width - 40px) / 3;
    }
  }
}
