.swiper {
  width: 100%;
  z-index: 0;
}

.swiper-slide {
  background: #FFFFFF;
  border-radius: 2vmin;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  -webkit-box-reflect: below 5% linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 20%);
}

.swiper-slide img {
  width: 100%;
  object-fit: contain;
}

.swiper-button-next {
  color: #000000;
}


.swiper-button-prev {
  color: #000000;
}

.swiper-pagination-bullet-active-GainTain {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #3357D2;
}

.swiper-pagination-bullet-active-Zeno {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #ED6112;
}
