.themed-link-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
  .title {
    font-size: 1.625rem;
    font-weight: 800;
    margin-bottom: 6px;
  }
  .role-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 14px 0;
    gap: 0.5em;
  }
  .description {
    font-size: 0.875rem;
    margin-bottom: 0.75em;
  }
  .link { fontSize: 0.75rem; }
}
