.timeline-description-header {
    background-color: map-get($theme-colors, 'danger');
    color: map-get($theme-colors, 'success');
    font-family: "Inconsolata";
}
.timeline-description-body {
    color: map-get($theme-colors, 'warning');
}
