.timeline-description-header {
    background-color: theme-color('danger');
    color: theme-color('success');
    font-family: 'Montserrat';
}
.timeline-description-body {
    color: theme-color('warning');
}
