.timeline-post {
  overflow: hidden;
  box-shadow: 15px 15px 0px 0 #000;
  margin-bottom: 12em;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
.timeline-description {
  border-top: 0px;
  margin: 9em -0.5em;
  min-height: 12.6em;
}

.timeline-description-header {
    background-color: theme-color('danger');
    color: theme-color('success');
    font-family: 'Montserrat';
    font-size: 2em;
}

.timeline-description-body {
    color: theme-color('warning');
    font-size: 0.75em;
}
