$h1-size: 2.125rem;
$h2-size: $h1-size * 0.75;
$h3-size: $h1-size * 0.585;
$h4-size: $h1-size * 0.5;
$h5-size: $h1-size * 0.415;
$h6-size: $h1-size * 0.335;

$mobile-multiplier: 0.65;

h1 {
  font-size: $h1-size * $mobile-multiplier;
  font-weight: 700;
  @media (min-width: $breakpoint) { font-size: $h1-size; }
}

h2 {
  font-size: $h2-size * $mobile-multiplier;
  font-weight: 700;
  @media (min-width: $breakpoint) { font-size: $h2-size; }
}

h3 {
  font-size: $h3-size * $mobile-multiplier;
  font-weight: 700;
  @media (min-width: $breakpoint) { font-size: $h3-size; }
}

h4 {
  font-size: $h4-size * $mobile-multiplier;
  font-weight: 700;
  @media (min-width: $breakpoint) { font-size: $h4-size; }
}

h5 {
  font-size: $h5-size * $mobile-multiplier;
  font-weight: 700;
  @media (min-width: $breakpoint) { font-size: $h5-size; }
}

h6 {
  font-size: $h6-size * $mobile-multiplier;
  font-weight: 700;
  @media (min-width: $breakpoint) { font-size: $h6-size; }
}

p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

ul {
  padding-left: 0;
  margin: 0;
}

.semibold {
  font-weight: 600;
}

.thin-text {
  font-weight: 300;
}
