$background-animated-text-size: 36px;

.background-animated-text {
  font-size: $background-animated-text-size * $mobile-multiplier;
  font-weight: 500;
  margin-top: 0;
  @media (min-width: $breakpoint) { font-size: $background-animated-text-size; }
}
