@use 'sass:math';
@import './contact_information';

.about-page {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}


.about-card-content {
  padding: 20px;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  line-height: 1.173;
}

.stacking-cards {
  &.more-below { margin-bottom: 20px; }
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  @media (min-width: $max-width) {
    flex-direction: row;
    align-items: stretch;
    > .glass {
      align-self: stretch;
      height: unset;
    }
  }
}
