.mobile-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.app-cover {
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100dvh;
  width: 100dvw;
}

.app-label {
  color: black;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  background-color: #FFFFFF22;
}

.app-label-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.app-cover:hover .app-label {
  background-color: #FFFFFFAA;
  backdrop-filter: blur(8px) opacity(1);
}

.app-image {
  width: 80%;
  height: 80%;
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  object-fit: contain;
}

.app-cover:hover .app-image {
  transform: scale(1.02);
}
