.fixed-background {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: -2;
  transition: opacity 0.5s ease-in-out;
}

.background-sphere {
  position: absolute;
  border-radius: 100%;
  animation-name: sphere-animation;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.top-left-sphere {
  height: 40vmin;
  width: 40vmin;
  left: -10vmin;
  top: -10vmin;
  animation-duration: 10s;
}

.bottom-right-sphere {
  height: 20vmin;
  width: 20vmin;
  right: 5vmin;
  bottom: 5vmin;
  animation-duration: 7s;
}

@keyframes sphere-animation {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(0, 5vmin);
  }
  25% {
    transform: translate(5vmin, 5vmin);
  }
  37.5% {
    transform: translate(5vmin, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  62.5% {
    transform: translate(-5vmin, 0);
  }
  75% {
    transform: translate(-5vmin, -5vmin);
  }
  87.5% {
    transform: translate(0, -5vmin);
  }
  100% {
    transform: translate(0, 0);
  }
}
