.blow-out-container {
  cursor: pointer;
  padding: 0.5em 0;
  display: grid;
  align-items: center;
  min-height: 20vh;
  grid-template-columns: 2fr 1fr;
  min-width: 25%
}

.blow-out {
  width: 0;
  border-radius: 15%;
  position: absolute;
  right: 0;
  min-height: 20vh;
  min-width: 1vw;
  pointer-events: none;
}

.blow-out-trigger-area {
  width: 0;
  border-radius: 15%;
  position: absolute;
  right: 0;
  min-height: 20vh;
  min-width: 1vw;
}

.blow-out.blown-out {
  width: 20vw;
}

.blown-out {
  transform: skewX(25deg);
}
