.blow-out-container {
  cursor: pointer;
  display: grid;
  align-items: center;
  column-gap: 1vmin;
  min-height: 1.5rem;
  grid-template-columns: 1vw 1fr;
  pointer-events: none;
}

.blow-out {
  pointer-events: visible;
  min-width: 0.25em;
}
