.garamond {
  font-family: "EB Garamond";
}

li {
  margin-left: 2ch;
}


.caption {
  border-bottom: 0.1em solid black;
  width: max-content;
}

.picture-caption {
  display: grid;
  gap: 6%;
  gridTemplateColumns: 1fr;
}
