.adalida-footer {
  height: 5vh;
  border-radius: 0 0 2vh 2vh;
  transition: border-color 0.5s ease;
  pointer-events: none;
  position: fixed;
  margin: 0 auto 4vh auto;
  width: 95%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-left: 0.25vh solid;
  border-right: 0.25vh solid;
  border-bottom: 0.25vh solid;
}
