.adalida-navbar {
  border-left: 0.25em solid #39ff14;
  border-right: 0.25em solid #39ff14;
  border-top: 0.25em solid #39ff14;
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  height: 2em;

}
