.Typewriter {
  display: inline;
}

.about-sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: #00B8FF;
    }
  }
}

.brand-icon:hover {
  filter: invert(1) opacity(0.5);
}
