.header {
  font-size: 9em;
  font-weight: 900;
}

.full-height {
  min-height: 100vh;
}

.meow-wolf {
  color: theme-color('warning');
}

.name {
  color: theme-color('warning');
}

.large-text {
  font-size: 1.6em;
  > li {
    font-size: 1.6em;
  }
}

.roles-list {
  @extend .large-text;
  margin-left: 1%;
  color: #180040;
}
