.header {
  font-size: 9em;
  font-weight: 900;
}

.large {
  font-size: 2em;
}

.large-text {
  font-size: 1.6em;
  > li {
    font-size: 1.6em;
  }
}

.roles-list {
  @extend .large-text;
  margin-left: 1%;
  color: #180040;
}

.what-i-learned * {
  margin: auto 0;
  padding: 0.5em 0;
}
