$gaintain-breakpoint: 1200px;

.video-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .video-card-video {
    max-width: 331px;
  }

  @media (min-width: $gaintain-breakpoint) {
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

.gaintain-text {
  flex-basis: 37%;
  flex-grow: 3;
  font-variant-numeric: tabular-nums;
  &.space {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.gaintain-check {
  @include flex-center;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
  max-width: max-content;
  gap: 20px;
  .caption {
    @include flex-center;
    flex: 8 8 335px;
  }
}
