.card-container {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

$gaintain-breakpoint: 1200px;

.video-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  @media (min-width: $gaintain-breakpoint) {
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

.gaintain-text {
  flex-basis: 37%;
  flex-grow: 3;
  font-variant-numeric: tabular-nums;
  &.space {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
