@import './gaintain';
@import './phronesis';

.case-study-container {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  gap: min(10dvw, 137px);
}

.about-case-study {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 37%;
  flex-grow: 3;
  .client-and-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 10%;
    > div {
      display: flex;
      flex-direction: column;
    }
  }
}
