.phronesis-container {
  min-width: 95%;
  max-width: 95dvw;
  min-height: 400px;
  display: grid;
  gap: min(10dvw, 137px);
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  align-items: center;
  justify-content: space-around;
}

.phronesis-card {
  cursor: pointer;
  min-height: 300px;
  border-radius: 1.5dvmax;
  overflow: hidden;
}

.about-phronesis {
  min-width: 95%;
  margin: 4vh 2.5vw;
  padding: 2em 7%;
  border-radius: 2vh;
}
